
<h1><%= @brands.name%></h1>


<p>Number of models:<%= @brands.num_of_models %></p>
<p>Country of origin:<%= @brands.country_of_origin %></p>
<p>number of cars:<%= @brands.child_count %></p>

<p>Domestic?:<%= @brands.domestic %></p>
