
<h1><%= @brand.name%></h1>


<p>Number of models:<%= @brand.num_of_models %></p>
<p>Country of origin:<%= @brand.country_of_origin %></p>
<p>number of cars:<%= @brand.child_count %></p>
<p>Domestic?:<%= @brand.domestic %></p>
